body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, hsl(182, 60%, 40%), hsl(160, 60%, 50%));
    display: flex;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}

.container {
    margin: 0;
    margin-top: 2em;
    display: flex;
    align-items: center;

    flex-direction: column;
}

h1 {
    font-size: 40px;

}

.task-input {
    font-size: 20px;
    padding: 5px 5px;
}

.date-input {
    font-size: 20px;
    padding: 4px 5px;
}

.input-fields,
.list-elements {
    display: grid;
    grid-template-columns: 330px 150px 100px;
    font-size: 17px;
    column-gap: 5px;
    row-gap: 5px;
    align-items: center;
}

.input-fields {
    margin-bottom: 10px;
}




.add-btn {
    font-size: 17px;
    padding: 7px 25px;
    background: #24ae38;
    color: white;
    cursor: pointer;
    border: none;
}

.list-elements button {
    font-size: 17px;
    color: white;
    padding: 7px 25px;
    background: #a91919;
    cursor: pointer;
    border: none;

}

@media screen and (max-width: 768px) {}


@media screen and (max-width: 555px) {
    body {
        background-image: linear-gradient(hsl(182, 60%, 40%), hsl(160, 60%, 50%));
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        background-attachment: fixed;
    }

    .input-fields {
        display: flex;
        flex-direction: column;


    }

    h1 {
        font-size: 35px;
    }

    .task-input {
        padding-right: 5em;
        font-size: 17px;
    }

    .date-input {
        font-size: 17px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .add-btn {
        margin-top: 0.1em;

        font-size: 15px;
    }

    .list-elements button {
        background-image: url('../img/delete-btn.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        /* Adjust size */
        height: 30px;
        text-indent: -9999px;
        /* Hide text */
        border: none;
        background-color: transparent;
    }

    .list-elements {
        display: grid;
        grid-template-columns: 270px 90px 20px;
        font-size: 14px;
        column-gap: 5px;
        row-gap: 5px;
        align-items: center;
    }
}